<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>main_data</key>
		<array>
			<string>标题1</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>sub_data</key>
		<array>
			<dict>
				<key>main_data</key>
				<array>
					<string>标题3</string>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
				</array>
				<key>sub_data</key>
				<array>
					<dict>
						<key>main_data</key>
						<array>
							<string>标题6</string>
							<integer>16</integer>
							<integer>17</integer>
							<integer>18</integer>
						</array>
						<key>sub_data</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>main_data</key>
		<array>
			<string>标题2</string>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
		</array>
		<key>sub_data</key>
		<array>
			<dict>
				<key>main_data</key>
				<array>
					<string>标题4</string>
					<integer>10</integer>
					<integer>11</integer>
					<integer>12</integer>
				</array>
				<key>sub_data</key>
				<array>
					<dict>
						<key>main_data</key>
						<array>
							<string>标题7</string>
							<integer>19</integer>
							<integer>20</integer>
							<integer>21</integer>
						</array>
						<key>sub_data</key>
						<array>
							<dict>
								<key>main_data</key>
								<array>
									<string>标题8</string>
									<integer>22</integer>
									<integer>23</integer>
									<integer>24</integer>
								</array>
								<key>sub_data</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>main_data</key>
				<array>
					<string>标题5</string>
					<integer>13</integer>
					<integer>14</integer>
					<integer>15</integer>
				</array>
				<key>sub_data</key>
				<array/>
			</dict>
		</array>
	</dict>
</array>
</plist>
